.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */
.card-image{
  background-color: black;
  display: flex;
  justify-content: center;  
  align-items: center;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.card-image img{
 width: 100%;
 height: auto;
}
