* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #273444;
}

/* ▼ WHERE YOUR CODE BEGINS */
.user-card{
  border-radius: 4px;
  border: 1px solid #E5EAEF;
  max-width: 240px;
  height: 56px;
  padding: 8px 12px;
}
.user-card::after{
  display:block;
  content: '';
  clear: left;
}

.user-photo img{
border-radius: 50%;
display:block;
background: #00214E;;
width: 40px;
height: 40px;
}

.user-photo{
  position: relative;
  margin-right: 12px;
}
.user-status{
  display: block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  border:2px solid #FFFFFF;
  background-color: #21D891;
  right:-2px;
  bottom:-2px;
 
}

.user-photo,
 user-name{
  float: left;
}

.user-name{
 padding: 8px 0;
}