*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'DM Sans', sans-serif;
}
/* Reset css */
a{ 
    color:inherit;    /*부모의 색깔을 상속 받는다.*/
    text-decoration: none;
}
p{
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.01em;
  color: #2B292D;
}
input:active,
input:focus,
button:active,
button:focus,
textarea:active,
textarea:focus{
    outline: none;
    box-shadow: none;
}
ul,
ol,
li{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
button,
textarea,
input{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}
.fill-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 48px;
    color: #fff;
    background-color:#3040c4;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.05em;
    font-weight: 700;
    border-radius: 2px;
    transition: opacity 300ms ease-in-out;
}
.fill-button:hover{
    opacity: 0.5;
}
.fill-button.inverted{
    color: #3040c4;
    background-color:#fff;
}
.section{
    padding:80px 0;
}
.section-category{
    display: block;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}
.section-title{
    font-size: 34px;
    line-height: 1.05882352941;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
    color: #2B292D;
}
.section-desc{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #2B292D;
}

/* Landing-CSS*/
.landing{
    background-color: #FDDED8;
    text-align: center;
}
.landing-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.landing-title{
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #2B292D;
    margin-bottom: 24px;
}
.landing-desc{
    margin-bottom: 20px;
}
.landing .button-group{ 
 display: flex;
 justify-content: center;
 align-items: center;
}
.landing .button-group .fill-button:first-child{
    margin-right: 8px;
}

/* Service CSS */
.service{
    padding: 80px 0;
    width: 100%;
    background-color: #F4F5F7;
}
.service-title{
    font-size: 22px;
    line-height: 1.36363636364;
    letter-spacing: -0.04em;
    color: #2B292D;
    margin-bottom: 16px;
}
.service .col-12:first-child{
    margin-bottom: 40px;
}

/* Program CSS */
.program{
    text-align: center;
}
.program .row:first-child{
    margin-bottom: 32px;
}
.program .section-category{
    color: #009B4D;
}
.program .row .col-md-4:not(:last-child){
    margin-bottom: 20px;
}
.program-card{
    display: block;
    padding: 24px 0 72px;
    background-color: #ffffff;
    border-radius: 8px;
    color: #2B292D;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    transition: background-color 250ms ease-in-out,
                box-shadow 250ms ease-in-out,
                color 450ms ease-in-out;
}
.program-card:hover{
    color: #ffffff;
    background-color: #3141C5;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}

.program-card img{
    display: block;
    width: auto;
    height: 195px;
    margin: 0 auto 16px;
}
.program-card strong{
    font-size: 18px;
    line-height: 1.33333333333;
    letter-spacing: -0.02em;
}

/* Curriculum CSS  */
.curriculum .row:first-child{
    margin-bottom: 48px;
}
.curriculum .row:last-child .col-md-6:first-child{
    margin-bottom: 40px;
}

.curriculum .section-category{
    color: #0189D1;
}
.curriculum .section-desc{
    margin-bottom: 32px;
}
.curriculum-image{
    display: none;
}

.curriculum-detail-desc{
    font-size: 15px;
    line-height: 1.46666666667;
    letter-spacing: -0.01em;
    color:#2B292D;
}




/* >768 (Desktop) */
@media screen and (min-width:768px) {
    /* Reset CSS */
    p{  
         font-size: 22px;
         line-height: 1.45454545455;
    }
    .fill-button{
        width: 160px;
        height: 56px;
        font-size: 18px;
        line-height: 1.55555555556;
    }
    .section{
        padding-bottom: 96px;
    }
    .section-category{
      font-size: 22px;
      line-height: 1.09090909091;
      margin-bottom: 16px;
    }
    .section-title{
        font-size: 56px;
        line-height: 1;
        margin-bottom: 32px;
    }
    
    /* Landing CSS */
    .landing-content{
        height: auto;
        padding: 120px 0;
    }
    .landing-title{
        font-size: 70px;
        line-height: 1.02857142857;
        margin-bottom: 32px;
    }
    .landing-desc{
        margin-bottom: 32px;
    }

    .landing .button-group .fill-button:first-child{
        margin-right: 16px;
    }
    
    /* Service CSS */
    .service .col-12:first-child{
        margin-bottom: auto;
    }
    .service-title{
        font-size: 26px;
        line-height: 1.30769230769;
    }
    .service-desc{
        font-size: 22px;
        line-height: 1.45454545455;
    }

    /* Program CSS */
   .program .row:first-child{
    margin-bottom: 72px;
    }
    .program .row .col-md-4:not(:last-child){
        margin-bottom: auto;
    }

    .program-card{
        padding: 24px 0 80px;
    }
    .program-card img{
        margin-bottom:24px;
    }
    .program-card strong{
        font-size: 20px;
        line-height: 1.2;
    }
    /* Curriculum CSS */
    .curriculum .row:first-child{
        margin-bottom: 24px;
    }
    .curriculum .section-desc{
        margin-bottom: 72px;
    }
    .curriculum-detail-desc{
        font-size: 18px;
        line-height: 1.44444444444;
    }
    .curriculum-image{
        display:block;
    }
    .curriculum-image img{
        display: block;
        width: 100%;
        max-width: 425px;
        height: auto;
    }
    .curriculum .row:last-child .col-md-6:first-child{
        margin-bottom: 0;
    }

 
}
/* Custom grid System - Fix container width */
@media screen and (min-width:1200px){
    .container{
        max-width: 960px !important;
    }
}


